[submodule "themes/hextra"]
	path = themes/hextra
	url = https://github.com/imfing/hextra.git
[submodule "themes/baguettebox"]
	path = themes/baguettebox
	url = https://github.com/Schnouki/hugo-baguetteBox.git
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
[submodule "themes/hugo-iframe"]
	path = themes/hugo-iframe
	url = https://github.com/ericswpark/hugo-iframe.git
