.gallery {
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}
.gallery a {
    border: 0;
    margin-bottom: .5em;
    flex: 0 0 40%;

}
.gallery img {
    border: .125em solid #bdbdbd;
    scroll-snap-align: center;
    		
}

.gallery::scroll-button(*) {
  border: 0;
  font-size: 2rem;
  background: none;
  color: #d125cb;
  opacity: 0.7;
  cursor: pointer;
}

.gallery::scroll-button(*):hover,
.gallery::scroll-button(*):focus {
  opacity: 1;
}

.gallery::scroll-button(*):active {
  translate: 1px 1px;
}

.gallery::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}

.gallery::scroll-button(left) {
  content: "◄" / "Previous";
}

.gallery::scroll-button(right) {
  content: "►" / "Next";
}

.gallery {
  anchor-name: --my-carousel;
}

.gallery::scroll-button(*) {
  position: absolute;
  position-anchor: --my-carousel;
}

.gallery::scroll-button(left) {
  right: calc(anchor(left) - 25px);
  bottom: calc(anchor(bottom) + 80px);
}

.gallery::scroll-button(right) {
  left: calc(anchor(right) - 25px);
  bottom: calc(anchor(bottom) + 80px);
}

:root {
  --primary-hue: 226deg;
  --primary-saturation: 34%;
  --primary-lightness: 88%;
}

.dark {
  --primary-hue: 204deg;
  --primary-saturation: 100%;
  --primary-lightness: 50%;
}

body, .hextra-toc {
    background-color: #ddf8fd;
    color: #94a6e1;
}

body:where(.dark,.dark *), .hextra-toc:where(.dark,.dark *) {
    background-color: #5b6ca0;
    color: var(--hx-color-gray-100);
}

.light-color {
    color: #94a6e1;
}

.dark-color {
    background-color: #94a6e1;
    color: var(--hx-color-gray-100);
}

h1, path, span, a, .content :where(h1):not(:where([class~=not-prose],[class~=not-prose] *)), button, nav.hextra-toc span {
   color: #94a6e1;
}

nav.hextra-toc svg{
   background-color: #94a6e1;
}

h1:where(.dark,.dark *), path:where(.dark,.dark *), span:where(.dark,.dark *), a:where(.dark,.dark *), .content :where(h1):not(:where([class~=not-prose],[class~=not-prose] *)):where(.dark,.dark *) {
   color: var(--hx-color-gray-100);
}

nav h1, nav path, nav span, nav a, footer h1, footer path, footer span, footer a {
   color: var(--hx-color-gray-100);
   
}


footer, .hextra-nav-container-blur, .hextra-nav-container-blur:where(.dark,.dark *), nav {
   background-color: #94a6e1;
   color: var(--hx-color-gray-100);
}

aside {
   background-color: #ddf8fd;
   color: #94a6e1;
}

aside:where(.dark,.dark *) {
   background-color: #5b6ca0;
   color: var(--hx-color-gray-100);
   --tw-shadow: 16px -12px 16px var(--tw-shadow-color, #5b6ca0)
   box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.hx\:dark\:bg-dark:where(.dark,.dark *), .hx\:dark\:bg-dark\/50:where(.dark,.dark *) {
    background-color: #94a6e1;
    color: #94a6e1;
}

.hx\:dark\:shadow-\[0_-12px_16px_\#111\]:where(.dark,.dark *) {
    --tw-shadow: 0 -12px 16px var(--tw-shadow-color, #94a6e1);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.content {
 text-align: center;
}

.hextra-badge {
 padding-top: 20px;
}

a.hextra-card {
    border: 2px solid #94a6e1;
    background-color: #ddf8fd;
}

.hextra-card-icon, .hextra-card-subtitle {
    color: #94a6e1;
}

((-webkit-backdrop-filter:blur(1px)) or (backdrop-filter:blur(1px))) {
    (color:color-mix(in lab, red, red)) {
        .hextra-nav-container-blur:where(.dark,.dark *) {
            background-color: #ddf8fd !important;
        }
    }
}

body:where(.dark,.dark *) .content a {
   color: #e7bbe5;
}

.content a {
   color: #d125cb;
}

.hextra-scrollbar a:hover{
   border: 2px solid #d125cb;
   background-color: #ddf8fd;
   color: #d125cb;
}

.hextra-scrollbar:where(.dark,.dark *) a:hover{
   border: 2px solid #e7bbe5;
   background-color: #5b6ca0;
   color: #e7bbe5;
}